<body onload="document.forms[0].submit()">
<script type="text/javascript">
    document.write("Please wait while you are being redirected to the application (this may take up to 30 seconds)...");
</script>
<form
        method="post"
        action="{{Destination}}"
>
  <input type="hidden" name="SAMLResponse" value="{{ SAMLResponse }}" />
  {% if RelayState %}
  <input type="hidden" name="RelayState" value="{{ RelayState }}" />
  {% endif %}
  <input type="submit" value="Login" />
</form>
</body>