# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # All locales supported by the application
    locales:
        - nl_NL
        - en_GB

    # SAML configuration
    saml_idp_publickey: '%kernel.root_dir%/../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_publickey.cer'
    saml_idp_privatekey: '%kernel.root_dir%/../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_privatekey.pem'
    saml_metadata_publickey: '%kernel.root_dir%/../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_publickey.cer'
    saml_metadata_privatekey: '%kernel.root_dir%/../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_privatekey.pem'
    saml_remote_sp_entity_id: 'https://pieter.aai.surfnet.nl/simplesamlphp/module.php/saml/sp/metadata.php/default-sp'
    saml_remote_sp_sso_url: '"https://pieter.aai.surfnet.nl/simplesamlphp/module.php/saml/sp/saml2-acs.php/default-sp"'
    saml_remote_sp_certificate: '%kernel.root_dir%/../vendor/surfnet/stepup-gssp-bundle/src/Resources/keys/pieter.aai.surfnet.nl.pem'
    saml_remote_sp_acs: 'https://pieter.aai.surfnet.nl/simplesamlphp/module.php/saml/sp/saml2-acs.php/default-sp'

    # Hosting settings (own URL)
    base_url: 'https://tiqr.example.com'
    tiqr_identity: 'tiqr.example.com'

    # View parameters, 'en' entry was added as this is the default used by Translator. Was unable to configure it to
    # use en_GB. TODO: look into configuring this the right way.
    support_url:
        en: "https://support.example.org/faq-strong-authentication"
        en_GB: "https://support.example.org/faq-strong-authentication"
        nl_NL: "https://support.example.org/faq-sterke-authenticatie"

    # Mobile Tiqr apps identify themselves with a user agent
    # header. If the user agent does not match below pattern during
    # registration, registration will fail. The default pattern (^.*$)
    # will effectively allow any Tiqr app. The pattern must adhere to
    # PCRE as accepted by preg_match (http://php.net/preg_match).
    mobile_app_user_agent_pattern: "/^.*$/"

    # Flag to use Firebse as fallback when GCM fails with a MismatchSenderId.
    # This is used to handle the push notification method rollover from GCM to Firebase.
    use_firebase_fallback_for_gcm: true

    # Options for the tiqr library
    tiqr_library_options:
        general:
            identifier: '%tiqr_identity%'
            # The name of the service that uses tiqr for second factor authentication.
            name: 'OpenConext Stepup'
            auth_protocol: 'tiqrauth'
            enroll_protocol: 'tiqrenroll'
            ocra_suite: 'OCRA-1:HOTP-SHA1-6:QH10-S'
            logoUrl: '%base_url%/tiqrRGB.png'
            infoUrl: 'https://tiqr.org'
        library:
            # Configuration of the push notification clients.
            gcm:
                apikey: 'Your GMC API KEY'
                application: 'the application name'
            apns:
                certificate: 'absolute path to certificate'
                environment: production
            firebase:
                apikey: 'Your Firebase API KEY'
        accountblocking:
            maxAttempts: 5
        storage:
            statestorage:
              type: 'file'
              arguments:
                  path: '/tmp'
            userstorage:
                type: 'file'
                arguments:
                  path: '/tmp'
                  encryption: 'dummy'
            devicestorage:
              type: 'dummy'
              arguments: []
            usersecretstorage:
                type: 'file'
                arguments:
                    path: '/tmp'
