# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_env: prod
    app_debug: false
    # A secret key that's used to generate certain security-related tokens
    app_secret: ThisTokenIsNotSoSecretChangeIt

    # A secret salt used to hash the correlationId for logging based on the session_id
    correlation_id_salt: 'changeMeToAtLeast16CharsOfRandomString'

    # All locales supported by the application
    default_locale: en_GB
    locales:
        - nl_NL
        - en_GB

    # SAML configuration
    saml_idp_publickey: '/config/tiqr/tiqr_idp.crt'
    saml_idp_privatekey: '/config/tiqr/tiqr_idp.key'
    saml_metadata_publickey: '/config/tiqr/tiqr_idp.crt'
    saml_metadata_privatekey: '/config/tiqr/tiqr_idp.key'
    saml_remote_sp_entity_id: 'https://gateway.dev.openconext.local/gssp/tiqr/metadata'
    saml_remote_sp_certificate: '/config/gateway/gateway_gssp_sp.crt'
    saml_remote_sp_acs: 'https://gateway.dev.openconext.local/gssp/tiqr/consume-assertion'

    # Hosting settings (own URL)
    base_url: 'https://tiqr.dev.openconext.local'
    tiqr_identity: 'tiqr.dev.openconext.local'

    # View parameters, 'en' entry was added as this is the default used by Translator. Was unable to configure it to
    # use en_GB. TODO: look into configuring this the right way.
    support_url:
        en: "https://support.example.org/faq-strong-authentication"
        en_GB: "https://support.example.org/faq-strong-authentication"
        nl_NL: "https://support.example.org/faq-sterke-authenticatie"
    support_email: support@support.nl

    # Mobile Tiqr apps identify themselves with a user agent
    # header. If the user agent does not match below pattern during
    # registration, registration will fail. The default pattern (^.*$)
    # will effectively allow any Tiqr app. The pattern must adhere to
    # PCRE as accepted by preg_match (http://php.net/preg_match).
    mobile_app_user_agent_pattern: "/^.*$/"

    # The lifetime of the trusted device in seconds
    # For example, 30 days is 2592000 seconds
    trusted_device_cookie_lifetime: 2592000

    # The name used for the trusted-device cookies
    trusted_device_cookie_name: 'tiqr-trusted-device'

    # The same_site attribute of the trusted-device cookies
    # Should be one of the strings in: \Surfnet\Tiqr\Service\TrustedDevice\Http\CookieSameSite: 'none', 'lax', 'strict'
    trusted_device_cookie_same_site: 'none'

    # Enable/Disable enforcement of MFA fatigue prevention
    # The trusted device cookie ensures no push notifications are sent when logging in on devices
    # To prevent everyone having to scan qr codes all of a sudden, enforcement can be temporarily disabled so trusted devices can build up
    trusted_device_enforcement_enabled: true

    # The secret key is used for the authenticated encryption (AE) of the trusted-device cookies, it is stored in the
    # parameters.yaml of Stepup-Tiqr. This secret may only be used for the AE of the trusted device cookies.
    #   The secret key size is fixed, it must be 256 bits (32 bytes (64 hex digits))
    #   We use hex encoding to store the key in the configuration, so the key will be 64 hex digits long
    # Please use this encryption key only for this purpose, do not re-use it for other crypto work.
    #
    # Example value: 000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f
    trusted_device_encryption_key: 000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f

    # Options for the tiqr library
    tiqr_library_options:
        general:
            identifier: '%tiqr_identity%'
            # The name of the service that uses tiqr for second factor authentication.
            name: 'OpenConext Stepup'
            auth_protocol: 'tiqrauth'
            enroll_protocol: 'tiqrenroll'
            ocra_suite: 'OCRA-1:HOTP-SHA1-6:QH10-S'
            logoUrl: '%base_url%/tiqrRGB.png'
            infoUrl: 'https://tiqr.org'
        library:
            # Configuration of the push notification clients.
            apns:
                certificate: 'absolute path to certificate'
                environment: production
            firebase:
                projectId: 'FCM project ID'
                credentialsFile: 'absolute path to file with service account key'
                cacheTokens: false
                tokenCacheDir: '/tmp'
        accountblocking:
            maxAttempts: 5
        storage:
            statestorage:
              type: 'file'
              arguments:
                  path: '/tmp'
            userstorage:
                type: 'file'
                arguments:
                  path: '/tmp'
                  encryption: 'dummy'
            devicestorage:
              type: 'dummy'
              arguments: []
            usersecretstorage:
                type: 'file'
                arguments:
                    path: '/tmp'
