<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Registreer nieuw tiqr account</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/JavaScript" src="/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script type="text/javascript">
        const idle        = "1";
        const initialized = "2";
        const retrieved   = "3";
        const processed   = "4";
        const finalized   = "5";

        function enrolStatus() { // TODO: use translations
            const self = "{{self}}";
            jQuery.get( self + 'status', function(status) {
                switch(status) {
                    case idle:
                        $( "span.status-container" ).html( "<ul><li>{{ 'enrol.status.idle.1' | trans | raw }}</li><li>{{ 'enrol.status.idle.2' | trans | raw }}</li><li>{{ 'enrol.status.idle.3' | trans | raw }}</li></ul>");
                        $( "img.qr" ).hide( "slow" );
                        //alert("Timeout. Please try again by refreshing this page.");
                        break;
                    case initialized:
                        $( "span.status-container" ).html( "<ul><li>{{ 'enrol.status.initialized.1' | trans | raw }}</li><li>{{ 'enrol.status.initialized.2' | trans | raw }}</li></ul>" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case retrieved:
                        $( "span.status-container" ).html( "<ul><li>{{ 'enrol.status.retrieved.1' | trans | raw }}</li><li>{{ 'enrol.status.retrieved.2' | trans | raw }}</li><li>{{ 'enrol.status.retrieved.3' | trans | raw }}</li><li>{{ 'enrol.status.retrieved.4' | trans | raw }}</li></ul>" );
                        $( "div.qr" ).hide();
                        $( "img.qr" ).hide( "slow" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case processed:
                        $( "span.status-container" ).html( "{{ 'enrol.status.processed' | trans | raw }}" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case finalized:
                        $( "span.status-container" ).html( "{{ 'enrol.status.finalized' | trans | raw }}" );
                        jQuery.get( self + 'done', function(dummy) {
                            document.location = "{{ return_url }}";
                        });
                        break;
                    default:
                        $( "span.status-container" ).html( status );
                        alert(status);
                }
            });
        }
    </script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header clearfix">
            <img src="/images/tiqr.png" class="pull-left" alt="tiqr" height="74">
            <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
            <!--h1>Step-up Self-Service</h1-->
        </div>

        {% include "localeform.html" %}
        <h2>{{ 'enrol.title'|trans }}</h2>

        <p><span class="status-container">status</span></p>

        <img class-"qr" alt="QR" src="qr_enrol" style="cursor: none;" />
        <script type="text/javascript">
            jQuery(document).ready(enrolStatus);
        </script>
        <!--TODO fix URL -->

        <div class="qr">
            {{ 'enrol.download' | trans | raw }}
        </div>

    </div><!-- /content -->

    <footer>
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="#" onclick="window.history.back();return false;">{{ 'enrol.cancel' | trans }}</a></li><!-- TODO -->
                </ul>
            </div>
        </div>
    </footer>

</div><!-- /container -->

</body>
</html>
