<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Registreer nieuw tiqr account</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/JavaScript" src="/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script type="text/javascript">
        const idle        = "1";
        const initialized = "2";
        const retrieved   = "3";
        const processed   = "4";
        const finalized   = "5";

        function enrolStatus() { // TODO: use translations
            const self = "{{self}}";
            jQuery.get( self + 'status', function(status) {
                switch(status) {
                    case idle:
                        $( "span.status-container" ).html( "<ul><li>Je sessie is verlopen</li><li>Ververs de pagina en probeer het nogmaals</li><li>Of klik op 'Annuleren' om terug te keren naar het beginscherm</li></ul>" );
                        $( "img.qr" ).hide( "slow" );
                        //alert("Timeout. Please try again by refreshing this page.");
                        break;
                    case initialized:
                        $( "span.status-container" ).html( "<ul><li>Open de tiqr app op je telefoon</li><li>Scan de QR code met de tiqr app</li></ul>" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case retrieved:
                        $( "span.status-container" ).html( "<ul><li>Op je telefoon verschijnt het scherm 'Account Activatie'</li><li>Klik in de app op 'OK' om je account te activeren</li><li>Bedenk een PIN voor je tiqr account<br/>Let op! Onthoud deze PIN goed, deze PIN kun je niet meer wijzigen</li></ul>Na het invoeren van je PIN in de app ga je automatisch door naar de volgende stap." );
                        $( "div.qr" ).hide();
                        $( "img.qr" ).hide( "slow" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case processed:
                        $( "span.status-container" ).html( "Een ogenblik geduld a.u.b." );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case finalized:
                        $( "span.status-container" ).html( "Je account is gereed voor gebruik." );
                        jQuery.get( self + 'done', function(dummy) {
                            document.location = "{{return_url}}";
                        });
                        break;
                    default:
                        $( "span.status-container" ).html( status );
                        alert(status);
                }
            });
        }
    </script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header clearfix">
            <img src="/images/tiqr.png" class="pull-left" alt="tiqr" height="74">
            <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
            <!--h1>Step-up Self-Service</h1-->
        </div>

        <h2>Registreer nieuw tiqr account</h2>

        <p><span class="status-container">status</span></p>

        <img class-"qr" alt="QR" src="qr_enrol" style="cursor: none;" />
        <script type="text/javascript">
            jQuery(document).ready(enrolStatus);
        </script>
        <!--TODO fix URL -->

        <div class="qr">
            Download tiqr voor
        <a href="http://itunes.apple.com/us/app/tiqr/id430838214?mt=8&ls=1" >iOS</a>/<a href="https://play.google.com/store/apps/details?id=org.tiqr.authenticator&hl=nl">Android</a>
        </div>

    </div><!-- /content -->

    <footer>
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="https://selfservice.pilot.stepup.surfconext.nl/">Annuleren</a></li><!-- TODO -->
                </ul>
            </div>
        </div>
    </footer>

</div><!-- /container -->

</body>
</html>
