<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        const idle        = "1";
        const initialized = "2";
        const retrieved   = "3";
        const processed   = "4";
        const finalized   = "5";

        function enrolStatus() { // TODO: use translations
            const self = "{{self}}";
            jQuery.get( self + 'status', function(status) {
                switch(status) {
                    case idle:
                        $( "span.status-container" ).html( "timeout" );
                        //alert("Timeout. Please try again by refreshing this page.");
                        alert("Timeout. Probeer nogmaals door deze pagina te verversen.");
                        break;
                    case initialized:
                        $( "span.status-container" ).html( "Scan de code met de tiqr app op uw telefoon om een tiqr account aan te maken." );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case retrieved:
                        $( "span.status-container" ).html( "Activeer uw account op uw telefoon." );
                        $( "img" ).hide( "slow" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case processed:
                        $( "span.status-container" ).html( "processed" );
                        window.setTimeout(enrolStatus, 1500);
                        break;
                    case finalized:
                        $( "span.status-container" ).html( "Uw account is gereed voor gebruik." );
                        jQuery.get( self + 'done', function(dummy) {
                            document.location = "{{return_url}}";
                        });
                        break;
                    default:
                        $( "span.status-container" ).html( status );
                        alert(status);
                }
            });
        }
    </script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header clearfix">
            <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
            <h1>Step-up Self-Service</h1>
        </div>

        <h2>Nieuw Account</h2>

        <p><span class="status-container">status</span></p>

        <img alt="QR" src='{{qr}}'/>
        <script type="text/javascript">
            jQuery(document).ready(enrolStatus);
        </script>

        <p>
            Geen account? Maak er dan <a href='/tiqr/enrol?return={{return_url}}'>hier</a> eerst een aan.
        </p>
        <!--TODO fix URL -->

    </div><!-- /content -->

    <footer>
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </footer>

</div><!-- /container -->

</body>
</html>