<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
    const myself = "{{self}}";

    function verifyLogin() {
        jQuery.get(myself + 'verify', function(data) {
            if (data == '') {
                window.setTimeout(verifyLogin, 1500);
            } else if (data.substring(0, 0) == '') {
                document.location = "{{return_url}}";
            } else {
                alert("Login timeout. Please try again by refreshing this page.");
            }
        });
    }
    jQuery(document).ready(verifyLogin);
</script>
<img src='{{qr}}' />
</body>
</html>
