<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<script type="text/javascript">
    const myself = "{{self}}";

    function verifyLogin() {
        jQuery.get(myself + 'verify', function(data) {
//            if (data == 'NO') {
            if (data == '') {
                window.setTimeout(verifyLogin, 1500);
//            } else if (data.substring(0, 4) == 'URL:') {
//                document.location.href = data.substring(4);
            } else if (data.substring(0, 0) == '') {
                document.location = "{{return_url}}";
            } else {
                alert("Login timeout. Please try again by refreshing this page.");
            }
        });
    }
    jQuery(document).ready(verifyLogin);
</script>

<div class="container">
    <h1>Log in met tiqr</h1>

{% if id %}
You are logging on as user {{ id }}
{% endif %}
Scan de code met de tiqr app op uw telefoon om in te loggen.
</br/>
<img src='{{qr}}' />
<br/>
Geen account? Maak er dan <a href='/tiqr/enrol?return={{return_url}}'>hier</a> eerst een aan.
<!--TODO fix URL -->

</div>

</body>
</html>
