<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
    const myself = "{{self}}";

    function verifyLogin() {
        jQuery.get(myself + 'verify', function(data) {
//            if (data == 'NO') {
            if (data == '') {
                window.setTimeout(verifyLogin, 1500);
//            } else if (data.substring(0, 4) == 'URL:') {
//                document.location.href = data.substring(4);
            } else if (data.substring(0, 0) == '') {
                document.location = "{{return_url}}";
            } else {
                alert("Login timeout. Please try again by refreshing this page.");
            }
        });
    }
    jQuery(document).ready(verifyLogin);
</script>
{% if id %}
You are logging on as user {{ id }}
{% endif %}
</br/>
<img src='{{qr}}' />
<br/>
No account? Please <a href='/tiqr/enrol.php?return=/tiqr/login'>enrol</a> first.
<!--TODO fix URL -->
</body>
</html>
