.page-container {

  @include page;

  h1 {
    margin: 35px 0 20px 0;
    font-size: 30px;
  }

  h2 {
    margin: 35px 0 20px 0;
    font-size: 22px;
  }

  h3 {
    margin: 10px 0 10px 0;
    font-size: 17px;
  }


}
