body {
  background: url(../../images/bck_theme.gif) repeat-x black;
}


.content-container {
  margin: 15px 15px 15px 15px;
}

.page-container {

  @include page;

  padding: 15px;

  background: url(../../images/bck_content.png);

  div.card {
    overflow: hidden;
    background: #fff;
  }

  h1 {
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    background: url(../../images/bck_h1.png);
    padding: 7px 0 7px 10px;
    margin: 5px 0 0 0;
    text-transform: uppercase;
  }

  h2 {
    margin: 35px 0 20px 0;
    font-size: 22px;
  }

  h3 {
    margin: 10px 0 10px 0;
    font-size: 17px;
  }

}
