server {
    listen       443;
    server_name  {{ vhost_name }};
    root {{ app_web_root }};

    ssl_certificate     /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    ssl on;
    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
    ssl_prefer_server_ciphers on;

    error_log /var/log/nginx/{{ app_name }}_error.log;
    access_log /var/log/nginx/{{ app_name }}_access.log combinedProxy;

    location /heartbeat {
        return 200 'Heartbeat for {{ vhost_name }}';
    }

    real_ip_header    X-Forwarded-For;
    real_ip_recursive off;

    location / {
        # try to serve file directly, fallback to app.php
        try_files $uri /app.php$is_args$args;
    }

    location ~ ^/app(_dev)?\.php(/|$) {
        fastcgi_pass unix:/var/run/php-fpm/{{ app_name }}.socket;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        # Include fastcgi_params from /etc/nginx/fastcgi_params, then
        # override some of them
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS on;
        fastcgi_param SYMFONY_ENV prod;
    }
}