includes:
    - ./phpstan-baseline.neon
    - ../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	level: 9
	paths:
		- ../../src
		- ../../dev
	ignoreErrors:
		-
			message: '#PHPDoc tag @SuppressWarnings has invalid value#'
			reportUnmatched: false
