div.alert {

  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  border-radius: .25rem;

  margin: 15px 15px 15px 15px;


  background-color: $light-grey;

  &.alert-info,
  &.info {
    background-color: darken($green, 15%);
  }
  &.alert-warning,
  &.warning {
    background-color: $orange;
  }
  &.alert-error,
  &.error {
    background-color: $red;
    color: $light-grey;
  }

  i.fa {
    padding-bottom: 1.25em;
    padding-right: 0.25em;
  }

  a {
    color: $tiqr-green;
  }
}
