{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.authentication.title'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'page.authentication.sub_title'|trans }}</h2>

    <img src="{{ url('app_identity_authentication_qr') }}">

    <div>{{ authUrl }}</div>
{% endblock %}
