{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.registration.title'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'page.registration.sub_title'|trans }}</h2>

    <div>Scan this code to enroll your phone with this new account.</div>
    <br/>
    <img src="{{ url('app_identity_registration_qr') }}">
{% endblock %}
