{% extends '@!SurfnetGssp/StepupGssp/ssoReturn.html.twig' %}

{% block page_heading %}
    {{ 'gssp.sso_return.title'|trans }}
{% endblock %}

{% block body %}
<div class="content-container">
    {{ parent() }}
</div>
{% endblock %}
